#page-background {
  background-image: url('../images/scissors-nick-demou.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Satisfy', cursive;
  color: white;
  mix-blend-mode: difference;
  text-align: center;
  margin: 10px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.page-content {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 350px;
  max-width: 800px;
  border-radius: 10px;
  text-shadow: 1px 1px gray;
  font-size: x-large;
  color: black;
}

.person-link {
  color: black;
  font-weight: bold;
}

hr {
  background-color: whitesmoke;
}

.information-label {
  color: rgb(56, 56, 56);
  font-weight: bold;
}