#page-background {
  background-image: url('../images/scissors-nick-demou.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Satisfy', cursive;
  color: white;
  mix-blend-mode: difference;
  text-align: center;
  margin: 10px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}