@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>

<p>@Html.ActionLink("List of Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Add Stylist", "Create", "Stylists")</p>
<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>